<h1 class="title">Product List</h1>

<div class="d-flex flex-column">
  <ul>
    <li *ngFor="let product of paginatedProducts$ | async" class="mb-2">
      <img [src]="product.photos[0]" width="30" height="30" />
      <strong class="w-25 d-inline-block text-center">{{ product.title }}</strong>
      <a [routerLink]="product.id" class="link-underline-primary">Go to Detail</a>
    </li>
  </ul>

  <app-list-pagination class="align-self-center" [list]="products$ | async" (paginate)="paginateBy($event)" />
</div>
