<div class="p-3">
  <h2>NgClass</h2>

  <button type="button" class="btn btn-primary" (click)="active = !active">Toggle Active</button>

  <div class="p-2 d-flex flex-column">
    <span [ngClass]="{'redText': active}">Hello</span>
    <span>active: {{active}}</span>
  </div>
</div>

<div class="p-3">
  <h2>NgStyle</h2>

  <button type="button" class="btn btn-primary" (click)="activeByStyle = !activeByStyle">Toggle Active</button>

  <div class="p-2 d-flex flex-column">
    <span [ngStyle]="{'color': activeByStyle ? 'red' : 'black'}">Hello</span>
    <span>active: {{activeByStyle}}</span>
  </div>
</div>
